<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}

    <link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}">

    {{ with .OutputFormats.Get "rss" -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
    {{ end -}}

    {{ $normalize := resources.Get "css/normalize.css" }}
    {{ $magick := resources.Get "css/magick.css" }}
    <link rel="stylesheet" href="{{ $normalize.Permalink }}">
    <link rel="stylesheet" href="{{ $magick.Permalink }}">

    {{ $codelines := resources.Get "js/codelines.js" }}
    <script defer language="javascript" type="text/javascript"  src="{{ $codelines.Permalink }}"></script>

    <title>{{ .Title }}</title>
</head>
