<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}

    <link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}">

    {{ with .OutputFormats.Get "rss" -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
    {{ end -}}

    {{ $css := (resources.Get "css/style.css") | minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">

    <title>{{ .Title }}</title>
</head>
